*{
    margin: 0%;  padding: 0%; box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo{
    width: 100%;
     height: 10vh;
 background-position:center ;
 position:fixed;
 
}


 
.port{
    float: left;
    width: 40%;
   margin-left: 6%;
   font-size: 1.8rem;
   
}

.logo .port h2{
    color: white;
}

span {
    color: #dc143c;
}

.home .img{ 
    float:right;
    width: 37%;
   margin-top: 6rem;
   margin-right: 1rem;
    height: 80vh;
    background-image: url("var.jpeg");
    background-repeat: no-repeat;
    
    background-size: cover;
    
    border-radius: 100rem;
    
    border: 5px solid #fff;
  
   
 
}
.home .head {
    float: left;
    
color: white;
margin-top: 13rem;
margin-left: 8%;

font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home .head h2{
   font-size: 2rem;
   }
   
.home .head h1{
  font-size: 5rem;
   }
   
.home .head h3{
  font-size: 2rem;
  

   }
   
   
   .home .head  span{
    font-size: 2rem;
    animation-name: web1;
  
    animation-duration: 4s;
   animation-iteration-count: infinite;
 
     }
     @keyframes web1 {
         from {color: #dc143c;   }
         to {color: #fff; }
         
     
    }
    
    .home .head button{
        width: 23%;
        height: 3rem;
        font-size: 1.4rem;
        color: #fff;
        background-color: #ff0030;
        cursor: pointer;
        
        }
        .home .head button:hover{
          
            color: wheat;
           background-color: transparent;
           border: 5px solid red;
           
            }
    
    .nav{
      float:right ;
        width: 40%;
      
       margin-top: 1%;
    
    }
    a{
        text-decoration: none;
       
    }
    
    .nav ul li{
    
        display:inline;
      
        padding: 2%;
    }
    
    
    .nav a{
    
        padding: 8px;
    background-color:blue;
    box-shadow: 2px 2px 2px 2px blue;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    
    color: antiquewhite;
    
    }
    .nav a.sk {
        padding-left: 15px;
       padding-right: 15px;
    
    
    }
    
    .nav a:hover{
        background-color:chocolate;
        box-shadow: 5px 5px 5px 5px chocolate;
    }
    


.ab{
    width: 100%;
    height: 100vh;

 
}


.ab h1{
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ab p{
    text-align: center;
    font-size: 1.5rem;
    color: #ff0020;
}


.about .me{
    float: left;
    margin-top:2rem ;
    margin-left: 8rem;
    width: 28%;
    height: 64vh;
background-image:  url("var123.jpeg");
border: 5px solid black;

background-repeat: no-repeat;
background-size: cover;


}
.about .detail{
    float: right;
    margin-top: 3rem;
    font-size: 1rem;
    margin-right: 8rem;
   
    font-family:Arial, Helvetica, sans-serif;

}
.about .detail h3{
    font-size: 1.3rem;
}
.about .detail li{
    font-size: 1rem;
}
.about .detail a {
   
    width: 60%;
    height: 3rem;
    padding: 12px;
    font-size: 1rem;
    color: #fff;
    background-color: rgb(230, 77, 17);
    cursor: pointer;
}
.about .detail a:hover{
    width: 60%;
    height: 3rem;
    padding: 12px;
    color: black;
    background-color: transparent;
    border: 5px solid rgb(230, 77, 17) ;
}

.service{
    width: 100%;
    height: 70vh;
    background-color:black;
    background-position: center;
    background-size: cover;
}
.service .box{
    color: white;
    
}
.service .box h1{
    text-align: center;
    
    font-size: 3rem;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.service .box p{
    text-align: center;
    font-size: 1rem;
    color: #ff0055;
    
   
}
.box-2{
    width: 80%;
}

 .box-2 .box-left {
   float: left;
   width: 30%;
    height: 40vh;
    margin-top: 3rem;
   margin-left: 12rem;
    background-color: #191919;
    box-shadow: 5px 5px 5px 5px  black;
    border: 5px solid #dc143c;
    color: #dc143c;
    cursor: pointer;
    
}
 .box-2 .box-right {
 float: right;
    width: 30%;
    height: 40vh;
    margin-top: 3rem;
 border: 5px solid#dc143c;
    background-color: #191919;
    box-shadow: 5px 5px 5px 5px  black;
    color: #dc143c;
    cursor: pointer;
}
.box-2 .fa-code{
    font-size: 4rem;
   
    padding: 5px;
margin-left: 7.2rem;
}

.box-2  .fa-line-chart{
    font-size: 4rem;
 
    padding: 5px;
margin-left:7.2rem;

}
.box-2 h1 {
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
}
.box-2 p{
    color: white;
    text-align: center;
    font-size: 0.9rem;
}

.box-2 .box-right:hover{
    color: #fff;
    background-color: #dc143c;
    border: 5px solid #fff;
}
.box-2 .box-left:hover {
    color: #fff;
    background-color: #dc143c;
    border: 5px solid #fff;
}

.skill{
    margin-top: 5rem;
    width: 100%;
    height: 100vh;
}
.skill .name {
    text-align: center;
}
.skill .name h1{
    font-size: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.skill .name p{
    color: #dc143c;
    font-size: 1rem;
}
.experience {
    width: 90%;
    height: 70vh;
    margin-top: 2rem;
    border: 5px solid red;
   margin-left: 6rem;
  
}
.experience .know {
    float: left;
    width: 30%;
    margin-left: 5rem;
    margin-top: 2rem;
}
.experience .know h2 {
    font-size: 1.8rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.experience .know li{
    font-size: 1.2rem;
    text-align: left;
    text-transform: initial;
}
.experience .know-1 {
    float: right;
    width:50% ;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.experience .know button{
    width: 30%;
    height: 3rem;
    font-size: 1rem;
    color: #fff;
    background-color: #dc143c;
    cursor: pointer;
    
    }
    .experience .know button:hover{
      
        color: black;
       background-color: transparent;
       border: 5px solid red;
       
        }
       
        .line {
          width: 70%;
            background:#fff;
            position:relative;
            height:5px;
            border-radius: 5px;
        }
        .line:before {
            content:'';
            background:#dc143c;
            width:80%;
            height:5px;
            position:absolute;   
            border-radius: 5px; 
        }
        .experience .know-1 .space{
            margin-left: 24rem;
        }
        .experience .know-1 .space-1{
            margin-left: 25rem;
        }
        .experience .know-1 .space-2{
            margin-left: 21.5rem;
        }
        .experience .know-1 .space-3{
            margin-left: 21.8rem;
        }
        .experience .know-1 .space-4{
            margin-left: 24.5rem;
        }
        .experience .know-1 .space-5{
            margin-left: 24rem;
        }

        .line-1 {
            width: 70%;
              background:#fff;
              position:relative;
              height:5px;
              border-radius: 5px;
          }
          .line-1:before {
              content:'';
              background:#dc143c;
              width:70%;
              height:5px;
              position:absolute;   
              border-radius: 5px; 
          }
          .line-2 {
            width: 70%;
              background:#fff;
              position:relative;
              height:5px;
              border-radius: 5px;
          }
          .line-2:before {
              content:'';
              background:#dc143c;
              width:50%;
              height:5px;
              position:absolute;   
              border-radius: 5px; 
          }
          .line-3 {
            width: 70%;
              background:#fff;
              position:relative;
              height:5px;
              border-radius: 5px;
          }
          .line-3:before {
              content:'';
              background:#dc143c;
              width:70%;
              height:5px;
              position:absolute;   
              border-radius: 5px; 
          }
          .line-4 {
            width: 70%;
              background:#fff;
              position:relative;
              height:5px;
              border-radius: 5px;
          }
          .line-4:before {
              content:'';
              background:#dc143c;
              width:60%;
              height:5px;
              position:absolute;   
              border-radius: 5px; 
          }
          .line-5 {
            width: 70%;
              background:#fff;
              position:relative;
              height:5px;
              border-radius: 5px;
          }
          .line-5:before {
              content:'';
              background:#dc143c;
              width:50%;
              height:5px;
              position:absolute;   
              border-radius: 5px; 
          }

          .contact {
              margin-top: 5rem;
              width: 100%;
              height: 90vh;
              background-color: #191919;
          }
          .contact .name h1{
              color: #fff;
            font-size: 3rem;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
        }
        .contact .name p{
            color: #dc143c;
            font-size: 1rem;
            text-align: center;
        }
        .contact{
            width: 100%;
        }
        .contain .row {
            margin-top: 1rem;
            float: left;
             width: 40%;
             color: #fff;
             font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
             font-size: 1rem;
        }
        .contain .row i{
            font-size: 2rem;
            color: #dc143c;
        }
        .contact .row .fa-user{
           font-size: 2rem;
            color: #dc143c;  
        }
        .contain .row-2 {
            margin-top: 2rem;
            margin-right: 6rem;
            float: right;
            width: 40%;
        }
        .contact .row-2 input {
            width: 40%;
            height: 2rem;
            outline: none;
        }
        .contact .row-2 .subj {
width: 80%;
        }
        .contact .row-2 .message {
            width: 80%;
        }
        .contact .row-2 input::placeholder {
            font-size: 1.2rem;
           
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .contain .row-2 button{
            width: 40%;
            height: 3rem;
            font-size: 1.5rem;
            color: #fff;
            background-color: #dc143c;
            cursor: pointer;
        }
.contain .row-2 h2{
    color: #fff;
    font-size: 1.8rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contain  .row {
    text-align: center;
}
 .font{
  
    margin-left: rem;
    transition: all 1m ease-out ;
   
}
.font a{
    transition: all 1m ease-out ;

}
.font  .fa-arrow-circle-up{ 
    font-size: 5rem;
    transition: all 1s ease-out ;
    z-index: 999;
color: rgb(58, 5, 143);
}

.hamburger{
   display: none;
}
    .footer{
        width: 100%;
        height: 10vh;
        background-color: #fff;
        text-align: center;
        margin-top: 1rem;
        font-size: 2rem;
    }    
    .footer a{
        color: #dc143c;
    }






    @media only screen and ( max-width: 1085px){

       
                 .home .head h1{
                     font-size: 2.6rem;
                 }           
.home .head span{
    font-size: 1.rem;
}
.home .head button{
    width: 50%;

}

            .ab .about .me{
                width: 25%;
                margin: 1%;
               
            }

        .service{
            width: 100%;
            height: 90vh;
        }
        .box-2{
            margin: 0%;
            width: 100%;
        }
        .service .box-left{
            margin: 0%;
            width: 30%;
            height: 35vh;
            margin-left: 5rem;
       margin-top: 3rem;
        }
        .service .box-2 .box-right {
            margin: 0%;
           width: 30%;
           height: 35vh;
           margin-top: 3rem;
           margin-right: 8rem;
       
        }
        .skill  {
           
        }
        
.skill .experience {
    height: 70vh;
    margin-left: 3rem;
}

        .skill .experience .know li{
            text-transform: capitalize;
            font-size: 1rem;
        }
        .skill .experience .know-1 label{
            font-size: 1rem;
        }
        .skill .experience .space{
            margin-left: 18rem;
        }
        .skill .experience .space-1{
       margin-left: 18rem;
        }
        .skill .experience .space-2{
       margin-left: 16rem;
        }
        .skill .experience .space-3{
       margin-left: 16rem;
        }
        .skill .experience .space-4{
       margin-left: 18rem;
        }
        .skill .experience .space-5{
       margin-left: 18rem;
        }
        .skill .experience .know button{
            font-size: 0.8rem;
            width: 90$;
            height: 30px;
        }

        .contact{
            height: 100vh;
        }
        .contact .contain .row-2 button{
            width: 30%;
            height: 35px;
            font-size: 15px;
        }
        .contact .row-2 h2{
            font-size: 1.3rem;
        }
        
         .font .fa-arrow-circle-up{
           font-size: 5rem;
        }
        .footer{
            font-size: 1rem;
        }

    }



    @media only screen and ( max-width: 1316px)
    {
        
        .port {
            margin-left: 2rem;
            font-size:20px;
            
    }
    .nav{
       font-size: 10px;
        margin-right: 1rem;
    }
  .home .img{
      width: 30rem;
      height: 50vh;
  }
    .home .head h2{
        font-size: 1rem;
    }
    .home .head h1{
        font-size: 2rem ;
    }
 .home .head h3{
     font-size: 1rem ;
 }
 .head span{
     font-size: 1rem;
 }
 .home .head button{
     width: 40%;
     
 }
 .ab .about .me{
margin-left: 4rem;
width: 30%;
height: 45vh;
 }
 .ab .detail{
     margin: 0%;
     margin-top: 2rem;
     margin-right:2rem ;
 }
 .service .box-2 .box-left p{
   
     font-size: 0.8rem;
 }
 .contact{
     height: 130vh;
 }
    }




    @media only screen and ( max-width: 1096px){
      .ab  .about .me{
            width: 25%;
            height: 35vh;
        }

        .service .box-2 .box-left{
            height: 30vh;
        }
        .service .box-2 .box-right{
            height: 30vh;
        }
        .service .box-2 .box-left .fa-code{
        font-size: 3rem;
        margin-left: 5.5rem
        
        ;
        }
        .service .box-2 .box-right .fa-line-chart{
            font-size: 3rem;
            margin-left: 5.7rem
            
            ;
            }
            .skill .experience{
                margin-left: 2rem;
            }
            .contact {
                height: 90vh;
            }
    }




    @media only screen and ( max-width: 1013px){
  
        .port {
            margin-left: 2rem;
            font-size:20px;
            
    }
    .nav{
       font-size: 10px;
        margin-right: 1rem;
    }
    .home .head h2{
        font-size: 1.4rem;
    }
    .home .head h1{
        font-size: 3rem ;
    }
 .home .head h3{
     font-size: 1.4rem ;
 }
 .head span{
     font-size: 1.4rem;
 }
 .home .head button{
     width: 40%;
     
 }
 .ab .about .me{
margin-left: 4rem;
 }
 .ab .detail{
     margin: 0%;
     margin-top: 2rem;
     margin-right:2rem ;
 }
 .ab .detail h3 {
     margin: 0%;
     font-size: 20px;
     
 }
 .ab .detail li{
     margin: 0%;
     font-size: 14px;
 }
 .about .detail a{
    
     font-size: 12px;
 }

 .service{
     width: 100%;
     height: 90vh;
 }
 .box-2{
     margin: 0%;
     width: 100%;
 }
 .service .box-left{
     margin: 0%;
     width: 30%;
     height: 50vh;
     margin-left: 5rem;
margin-top: 3rem;
 }
 .service .box-2 .box-right {
     margin: 0%;
    width: 30%;
    height: 50vh;
    margin-top: 3rem;
    margin-right: 8rem;

 }
 .skill .experience{
     margin: 0%;
     margin-left:2rem ;
     width: 90%;
 }
 .skill .experience .know{
     margin: 0%;
    margin-left: 03rem;
    margin-top:2rem;
 }
 .skill .experience .know-1{
    margin: 0%;
    margin-top:2rem;
}
 
 .skill .experience h2{
     font-size: 1rem;
 }
 .skill .experience li{
     font-size: 1rem;
 }
 .skill .experience .know-1{
     font-size: 1rem;
 }
 .skill .experience .space{
     margin-left: 18rem;
 }
 .skill .experience .space-1{
margin-left: 18rem;
 }
 .skill .experience .space-2{
margin-left: 16rem;
 }
 .skill .experience .space-3{
margin-left: 16rem;
 }
 .skill .experience .space-4{
margin-left: 18rem;
 }
 .skill .experience .space-5{
margin-left: 18rem;
 }
 .skill .experience .know button{
     font-size: 0.8rem;
     width: 90$;
     height: 30px;
 }

 .contact{
     height: 140vh;
 }
 .contact .contain .row-2 button{
     width: 30%;
     height: 35px;
     font-size: 15px;
 }
 .contact .row-2 h2{
     font-size: 1.3rem;
 }
 
  .font .fa-arrow-circle-up{
    font-size: 5rem;
 }
 .footer{
     font-size: 1rem;
 }



    }


    @media only screen and ( max-width: 992px){


        .logo .port{
            width: 20%;
            }
             .logo .nav{
           
            width: 60%;
            font-size: 5px;
            margin-top: 1%;
             margin-right: 0rem;
            
        }
       
        .home .img{
            margin-top: 8rem;
  width: 30%;
  height: 60vh;
        }
        .service .box-2{
           
        }
        .service .box-2 .box-left p{
   font-size: 0.8rem;        
        }
        .service .box-2 .box-right  p{
   font-size: 0.8rem;         
        }


    }



    
    

    @media only screen and ( max-width: 979px){
       
      
.logo .port{
    width: 20%;
    }
    .nav{
        width: 60%;
        font-size: 5px;
        margin-top: 1%;
         margin-right: 0rem;
     }
       
       
      
.ab .about .me{
    width: 25%;
    height: 50vh;
}
        .service .box-2{
            height: 90vh;
        }
        .service .box-2 .box-left{
            height: 40vh;
        }
        .service .box-2 .box-right{
            height: 40vh;
        }
    }



    @media only screen and ( max-width: 972px){
        .logo .port{
        width: 20%;
        }
        .nav{
            width: 60%;
            font-size: 5px;
            margin-top: 1%;
             margin-right: 0rem;
         }
         .home .img{
            width: 30rem;
            height: 50vh;
        }
          .home .head h2{
              font-size: 1rem;
          }
          .home .head h1{
              font-size: 2rem ;
          }
       .home .head h3{
           font-size: 1rem ;
       }
       .ab .about .me{
        margin-left: 3rem;
        width: 23%;
        height: 30vh;
         }
         .ab .detail{
             margin: 0%;
             margin-top: 2rem;
             margin-right:2rem ;
         }
         .service .box-2 .box-left{
             height: 30vh;
         }
         .service .box-2 .box-right{
             height: 30vh;
         }
         .contact{
             height: 90vh;

         }
            }
    
    @media only screen and ( max-width: 973px){
.logo .port{
width: 20%;
}
.nav{
    width: 60%;
    font-size: 5px;
    margin-top: 1%;
     margin-right: 0rem;
 }
    }




    @media only screen and ( max-width: 853px){
        
        .home .img{
width: 40%;
        }
.ab .about .me{
    width: 25%;
    height: 50vh;
}
.service .box-2 .box-left{
    width: 30%;
}
.service .box-2 .box-right{
    width: 30%;
}
.box-2 .box-left p{
    margin-top: 1rem;
font-size: 0.8rem;
}
.box-2 .box-right p{
    margin-top: 1rem;
}
.box-2 .box-left .fa-code{
    margin-left: 5rem;
}
.box-2 .box-right .fa-line-chart{
    margin-left: 5.0rem;
}
.contact .contain .row-2 button{
    width: 45%;
    font-size: 0.9rem;
}
.skill .experience .space{
    margin-left: 12.1rem;
}
.skill .experience .space-1{
    margin-left: 12.5rem;
}
.skill .experience .space-2{
margin-left:10rem ;
}
.skill .experience .space-3{
margin-left: 10rem;
}
.skill .experience .space-4{
margin-left: 12.3rem;
}
.skill .experience .space-5{
margin-left: 12.5rem;
}
 .skill .experience .know button{
     width: 40%;
    font-size: 12px;
}
    }


    @media only screen and ( max-width: 865px){
      .ab  .about .me{
width: 25%;
height:50vh;
        }
        .contact .contain .row-2 button{
            font-size: 0.8rem;
        }
    }

    @media only screen and ( max-width: 821px){
      .home .img{
          margin-top: 8rem;
width: 40%;
height: 70vh;
      }
      
        .home .head {
width: 40%;
        }
        .home .head button{
            width: 30%;
            height: 8vh;
            font-size: 1.1rem;
        }

.ab .about .detail li{
    font-size: 0.8rem;
}
    }


    @media only screen and ( max-width: 817px){

        .home .img {
    
    height: 60vh;
        }
        .home .head h2{
            font-size: 1.6rem;
        }
      .home  .head h1{
font-size: 2.8rem;
        }
        .home .head h3{
font-size: 1.6rem;
        }
        .home .head span{
            font-size: 1.6rem;
        }
        .home .head button{
            width: 25%;
            height: 7vh;
            font-size: 1rem;
        }
        .ab .about .me{
            margin-left: 1%;
         width: 28%;
            
        }
        .skill .experience .space-5{
            margin-left: 11rem;
        }
    }



   @media screen and (max-width:812px) {
    .logo .port{
        width: 20%;
        }
        .nav{
            width: 60%;
            font-size: 5px;
            margin-top: 1%;
             margin-right: 0rem;
         }
         .home .img{
            width: 20rem;
            height: 40vh;
        }
          .home .head h2{
              font-size: 1rem;
          }
          .home .head h1{
              font-size: 2rem ;
          }
       .home .head h3{
           font-size: 1rem ;
       }
       .ab .about .me{
        margin-left: 2rem;
        width: 22%;
        height: 20vh;
         }
   }
       
@media only screen and ( max-width: 720px) {
    

    .logo .nav ul li {
        display: block;
        padding: 0%;
        flex-direction: column;
      }
  
       .nav a{
       margin-top: 2rem;
        background-color: #dc143c;
        display:block;
        color: #fff;
       box-shadow: none;
       }
       .nav a:hover{
        background-color:chocolate;
        box-shadow:none;
    }
 

       .logo {
      
        position:relative;
             
         }
         
         .hamburger {
             display:list-item;
             margin-top: 1.5rem;
             margin-right: ;
             position: fixed;
             cursor: pointer;
             
             right: 4%;
             
             transform: translate(-5%,-50%);
             
       z-index: 2;
         }
         .hamburger .linex {
            width: 40px;
            height: 3px;
            background: #dc143c;
          
            margin: 5px;
            cursor: pointer;
            transform: translate(-5%,-50%);
             
         }
        
         .logo .nav {
          position:fixed;
          background: rgb(65, 57, 57);
       margin-top: 0rem;
         
          float:unset;
          text-align: center;
        
         cursor: pointer;
          width: 50%;
          height: 90vh;
          flex-direction:column;
          clip-path:circle(100px at 100%  -30%);
          -webkit-clip-path:circle(100bpx at 90% -10%);
          transition: all 0.5s ease-out;
          pointer-events: none;
       }
       .logo .nav.open {
         
          clip-path: circle(1000px at 90% -10%);
          -webkit-clip-path: circle(1000px at 90% -10%);
       
          pointer-events: all;
       }
       .logo .nav.close {
          clip-path:circle(100px at 90% -10%);
          -webkit-clip-path:circle(100bpx at 90% -10%);
          transition: all 1s ease-out;
          pointer-events: none;
       }
       .nav li {
        opacity: 0;
      }
      .nav li a {
        font-size: 25px;
      }
      .nav li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
       
      }
      .nav li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
      }
      .nav li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
      }
      .nav li:nth-child(4) {
        transition: all 0.5s ease 0.4s;
      }
      .nav li:nth-child(5) {
        transition: all 0.5s ease 0.4s;
      }
      li.fade {
        opacity: 1;
      }
      
      .home .img{
          float: unset;
        display: none;
     }
     .home .head{
         width: 80%;
        float: unset;
        margin: 0%;
        margin-left: 6rem;
        margin-top: 6rem;
         text-align: center;
     }
     
     .home .head h2{
font-size: 2.5rem;
     }
.home .head h1{

font-size: 4rem;
}
     .home .head h3{
font-size: 2.5rem;
     }
     .home .head span{
        font-size: 2.5rem;
             }
             .home .head button{
              width: 40%;
              font-size: 1.5rem;
              height: 8vh;
             }
     .about{
         
        float:unset;
   
    }

    .ab{
        width: 100%;
        height: 150vh;
    }
   .ab  .about .me{
        width: 38%;
        height: 40vh;
       margin-left: 13rem;
        background-position: center;
    }
   .ab .about .detail{
        width: 100%;
        margin: 0%;
        margin-top: 2rem;
     
        
    }
    .ab .about .detail h3{
margin-left: 8rem;
    }
    .ab .about li{
margin-left: 8rem;
    }
    .ab .about .detail a{
margin-left: 8rem;
    }
    .service{
        width: 100%;
        height: 140vh;
        float: unset;
       
    }
    .box-2{
        width: 100%;
    }
  .service .box-2 .box-left{
    float: unset;
    margin-top: 2rem;
    width: 40%;
    margin-left: 14rem;
    height: 35vh;
}
 .service .box-2 .box-right{
    float: unset;
    margin-top: 2rem;
    margin-left:14rem;
    width: 40%;
    height: 35vh;

}
.service .box-2 .box-left .fa-code{
margin-left: 6rem;
}
.service .box-2 .box-right .fa-line-chart{
    margin-left: 6rem;
}
.skill{
    width: 100%;
    height: 150vh;
}
.experience{
    width: 80%;
    border: none;
    margin: 0%;
    
}
.experience .know{
    border:  2px solid lightcoral;
    
    width: 80%;
    height: 50vh;
    float: unset;
    margin: 0%;
    margin-top: 2rem;
    text-align: center;
   
}
.skill .experience .know li{
    padding-left: 2rem;
}
.skill .experience .know-1{
    float: unset;
    margin: 0%;
    margin-left: 5rem;
   text-align: left;
    width: 80%;
    height: 60vh;
    margin: 0%;
    padding-left: 3rem ;
    margin-left: 3rem;
   padding-top: 3rem;
    border:  2px solid lightcoral;
    

}

  .experience .know-1 .space{
   margin-left: 18rem;
}

.experience .know-1 .space-1{
    margin-left: 19rem;
   }
   .experience .know-1 .space-2{
      margin-left:16rem ;
   }
   .experience .know-1 .space-3{
      margin-left: 16rem;
   }
   .experience .know-1 .space-4{
      margin-left: 19rem;
   }
   .experience .know-1 .space-5{
      margin-left: 18rem;
   }
   

 


   .contact{
    width: 100%;
    height: 110vh;
    margin: 0%;
 }
 .contact .contain{
   
    width: 100%;
 }
 .contact .contain .row
{ width: 40%;
    margin-left: 0rem;
   
 }
 .contact .contain .row-2{
  
   
    margin: 0%;
    width: 60%;
    margin-top: 0rem;
    margin-left: rem;
 

 
   }
 
   
   
}
   
       
@media only screen and ( max-width: 620px)
{




.service .box-2 .box-left{
    margin-left: 1rem;
}
.service .box-2 .box-right{
   margin-left:  11rem ;
       
}
}
   @media only screen and ( max-width: 598px) 
       {
     .ab .about .me{
     margin-left: 12rem;
    
       }
.ab .about .detail h3{
    margin-left: 7rem;
}

.ab .about .detail li{
     margin-left: 7rem;

       }
       
  .service .box-2 .box-left{
  
   width: 45%;;
    margin-left: 11rem;
    height: 50vh;
   
}
 .service .box-2 .box-right{
    width: 45%;
    margin-left:11rem;
   height: 50vh;

}
.service .box-2 .box-left .fa-code{
margin-left: 5rem;
}
.service .box-2 .box-right .fa-line-chart{
    margin-left: 5rem;
}



.experience .know-1 .space{
    margin-left: 14rem;
 }
 
 .experience .know-1 .space-1{
     margin-left: 14rem;
    }
    .experience .know-1 .space-2{
       margin-left:12rem ;
    }
    .experience .know-1 .space-3{
       margin-left: 12rem;
    }
    .experience .know-1 .space-4{
       margin-left: 14rem;
    }
    .experience .know-1 .space-5{
       margin-left: 13rem;
    }
    
 
  


    }





    @media only screen and ( max-width:544px){
.home .head{
    margin-left: 3rem;
}
        .home .head h2{
           font-size: 1.4rem;
        }
        .home .head h1{
            font-size: 2.6rem;
        }
        .home .head h3{
            font-size:1.4rem ;
        }
        .home .head span{
            font-size: 1.4rem;
        }
        .home .head button{
            width: 25%;
            font-size: 1.4rem;
        }
.ab .about .me{

    width: 45%;
    margin-left:10rem;
}
.ab .about .detail h3{
    margin-left: 4rem;

}
.ab .about .detail li{
    margin-left: 4rem;
}
.ab .about .detail a{
    margin-left: 4rem;
}

   .contact{
    width: 100%;
    height: 180vh;
    margin: 0%;
 }
 .contact .contain{
   
    width: 100%;
 }
 .contact .contain .row
{
    
     width: 60%;
    margin-left: 6rem;
   
 }
 .contact .contain .row-2{
  
   
    margin: 0%;
    width: 90%;
    margin-top: 4rem;
   
 

 }
 .font{
    margin: 0%;
    width: 10%;
font-size: 2rem;
    margin-left: 0%;
}
  .font a{
    width: 10%;
    font-size: 2rem;
}



         



    }



    @media only screen and ( max-width:470px){

.ab .about .me {
    margin-left: 7rem;
    width: 50%;
}
.service .box-2 .box-left{
  margin-left:8rem;
    width: 50%;
}
.service .box-2 .box-right{
    margin-left:8rem ;
    width: 50%;
}
.skill .experience .space{
margin-left: 10rem;
}
.skill .experience .space-1{
    margin-left: 10rem;
}
.skill .experience .space-2{
    margin-left: 10ren;
}

.skill .experience .space-4{
    margin-left: 10rem;
}
.skill .experience .space-5{
    margin-left: 10rem;
}


    }




    @media only screen and ( max-width:450px){

        
.home .head button{
    width: 30%;
    height: 7vh;
    font-size: 1rem;

}


    }




    @media only screen and ( max-width:402px)
    {

        .ab {
            height: 170vh;
        }
        .ab .about .me{
            width: 60%;
            margin-left: 4rem;
        }
        .ab .about .detail h3{
            margin-left: 2rem;
        }
        .ab .about .detail li{
            margin-left: 2rem;
        }
        .ab .about .detail a{
            margin-left: 2rem;
        }

        .service .box-2  .box-left{
width: 60%;
margin-left: 5rem;
        }
        .service .box-2  .box-right{
            width: 60%;
            margin-left: 5rem;
        }
        
    .contact{
        width: 100%;
        height: 200vh;
    }
   .contact .contain .row{
        margin: 0%;
        height: 100vh;
        margin-left: 4rem;
    }
    .contact .contain .row-2{
margin: 0%;
margin-left: 4rem;
    }
    .contact .row-2 h2{
        font-size: 1.5rem;
    }
    .contact .row-2 input{
        width: 80%;
        height: 25px;
    }
    .contain .row-2 .email{
        width: 80%;
        margin-top: 1rem;
    }

.contain .row-2 button{
     width: 39%;
     height: 29px;
    
     font-size: 0.7rem;
 }





    }



    @media only screen and ( max-width:372px){

        .hamburger .linex {
            width: 30px;
            height: 3px;
        }
        .ab .about .detail h3{
            font-size: 1rem;
            margin-left: 1rem;
        }
        .ab .about .detail li{
            margin-left: 1rem;
            font-size: 0.7rem;
        }
        .service .box-2 .box-left h1{
            font-size: 1.5rem;
        }
        .service .box-2 .box-right p{
            font-size: 0.8rem;
        }
        .service .box-2 .box-right h1{
            font-size: 1.5rem;
        }
        .service .box-2 .box-right p{
            font-size: 0.8rem;
        }
        .skill{
            height: 190vh;
        }
        .skill .experience .know{
            margin-left: 0%;
            padding: 0%;
        }
        .skill .experience .know-1{
            padding: 0%;
            width: 100%;
        }
.skill .experience .space-2{
    margin-left: 8rem;
}
.skill .experience .space-3{
    margin-left: 8rem;
}



    }

      
    @media only screen and (max-width:368px)
    {

      
.skill .experience .know-1{
    width: 80%;
    margin-left: 0%;
    margin-top: 2rem;
    padding: 2%;
 
}
.service .box-2 .box-left .fa-code{ 
    margin-left: 4rem;
}
.service .box-2 .box-right .fa-line-chart{ 
    margin-left: 4rem;
}


    }

   @media only screen and ( max-width:320px) {
    
    .logo .port{
        font-size: 1rem;
    }

   .home .img {
       display: none;
   }
   
   .logo .nav{
       
       height: 80vh;
       clip-path:circle(100px at 100%  -30%);
   }
   
   .home .head h2{
    font-size: 1rem;
    }
    
.home .head h1{

 font-size: 2.4rem;
    }
    
.home .head h3{
  
   font-size: 1rem;

    }
    .home .head span{
        font-size: 1rem;
    }
    .home .head button{
        width: 35%;
        height: 7vh;
        font-size: 1rem;
    }
    .ab{
        height: 200vh;
    }
    .about .me{
        margin: 0%;
        margin-top: 3rem;
        margin-left: 2rem;
        width: 70%;
        height: 50vh;
        background-position: left;
    }

    .about  .detail h3{
       
margin: 0%;
font-size: 1rem;
    }
    .about .detail li{
        font-size:1rem;
    }
    .about .detail a{
        width: 20%;
        padding: 10px;
        font-size: 1rem;
    }

    .service .box-2 .box-left{
        margin-left: 3rem;
        width: 70%;
    }
    .service .box-2 .box-left .fa-code{
        margin-left: 4rem;
    }
    .service  .box-2 .box-right{
        margin-left: 3rem;
        width: 70%;
    }
    .service  .box-2 .box-right .fa-line-chart{
        margin-left: 4rem;
    }
    .contact{
        width: 100%;
        height: 200vh;
    }
    .contain .row{
        margin: 0%;
        height: 100vh;
        margin-left: 3rem;
    }
    .contact .contain .row-2{
margin: 0%;
margin-left: 4rem;
    }
    .contact .row-2 h2{
        font-size: 1.5rem;
    }
    .contact .row-2 input{
        width: 80%;
        height: 25px;
    }
    .contain .row-2 .email{
        width: 80%;
        margin-top: 1rem;
    }

.contain .row-2 button{
     width: 39%;
     height: 29px;
    
     font-size: 0.7rem;
 }
 .contain  .row {
    text-align: center;
}
.contact .font{
    margin-top: 3rem;
    margin-left: 1rem;
    transition: all 1m ease-out ;
   
}
.font a{
    transition: all 1m ease-out ;

}
.contact .font   .fa-arrow-circle-up{ 
    font-size: 4rem;
    transition: all 1s ease-out ;
    z-index: 999;
color: lightblue;
}
.footer{
    font-size: 1rem;
}
 
}



 
@media only screen and ( max-width:278px) {

    .home .head h1{

        font-size:2.1rem;
    }
    .ab .about .me{
        height: 40vh;
    }

    .service .box-2 .box-left{
        width: 80%;
        margin-left: 2rem;
    }
    .service .box-2 .box-right{

        width:80% ;
        margin-left: 2rem;
    }
    
    .skill .know-1 label{
        font-size: 1rem;
    }

    .skill .experience .space-3{
      margin-left: 8rem;
    }



}




@media only screen and ( max-width:258px) {

    .home .head{
        margin-left: 0rem
        ;
     
    }
    .home .head  h2{
        font-size:0.8rem ;
    }
   .home .head h1{
        
font-size: 1.3rem;
    }
    .home .head  h3{
        font-size:0.8rem ;
    }
    .home .head  span{
        font-size:0.8rem ;
    }
    .home .head button{
        width: 25%;
        height:6vh;
        font-size: 0.7rem;
    }

   .ab h1{
       font-size: 2rem;
   }
   .ab p{
       font-size: 1rem;
   }
.ab .about .me {
    width: 50%;
    height: 30vh;
}
.ab .about .detail h3{
font-size: 0.8rem;
}

.ab .about .detail li{
    font-size: 0.7rem;
}
.ab .about .detail a{
    font-size: 0.6rem;
}
.service .box h1{
    font-size: 2rem;
}
.service .box p{
    font-size: 0.7rem;
}
.service .box-2 .box-left{
    width: 70%;
    height: 30vh;
}
.service .box-2 .box-left h1{
    font-size: 1rem;
}

.service .box-2 .box-left p{
    font-size: 0.4rem;
}
.service .box-2 .box-right{
    width: 70%;
    height: 30vh;
}
.service .box-2 .box-right h1{
    font-size: 1rem;
}

.service .box-2 .box-right p{
    font-size: 0.4rem;
}

.service .box-2 .box-right .fa-line-chart{
    font-size: 2rem;
}

.service .box-2 .box-left .fa-code{
    font-size: 2rem;
}

.skill .name h1{
    font-size: 2rem;
}
.skill .name p{
    font-size: 0.8rem;
}
.skill .experience .know li{
    font-size: 0.8rem;
}
.skill .experience .know button{
    width: 40%;
    font-size: 0.6rem;
    height: 5vh;
}
.skill .experience .know-1 label{
    font-size: 0.8rem;
}
.skill .experience .space{
margin-left: 6rem;
}
.skill .experience .space-1{
    margin-left: 7rem;
}
.skill .experience .space-2{
    margin-left: 5rem;
}
.skill .experience .space-3{
    margin-left: 5rem;
}
.skill .experience .space-4{
    margin-left: 6rem;
}
.skill .experience .space-5{
    margin-left: 6rem;
}
.contact .name h1{
    font-size: 1.5rem;
}
.contact .name p{
    font-size: 0.9rem;
}
.contact .contain .row{
    margin-left: 3rem;
}
.contact .contain .row h2{
    font-size: 1.5rem;
}
.contact .contain .row-2 {
    padding-left: 2rem;
}
.contact .contain .row label{
    font-size: 0.8rem;
}
.contact .contain .row {
    font-size:0.8rem ;
}
.contact .contain .row-2 button{
    font-size: 0.7rem;
    height: 6vh;
}
.footer{
    font-size: 1rem;
}


}
